<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Shopping List</title>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-center">André Sindeaux<hr>Vinicius Negrão Pinho<hr>Exemplo: Lista de Compras</h1>
    <div id="app" class="mt-4">
      <form v-on:submit.prevent="addItem" class="border p-4 rounded shadow-sm">
        <div class="form-group">
          <label for="itemNome">O que você precisa?</label>
          <input type="text" id="itemNome" class="form-control" required placeholder="Nome do item..." v-model="itemNome">
        </div>
        <div class="form-group">
          <label for="itemQuant">Quantidade?</label>
          <input type="number" id="itemQuant" class="form-control" placeholder="Número/qtde de itens..." v-model="itemQuant">
        </div>
        <div class="form-group">
          <label for="itemPreco">Preço por unidade?</label>
          <input type="float" id="itemQuant" class="form-control" placeholder="Preço por unidade..." v-model="itemPreco">
        </div>

        <button type="submit" class="btn btn-primary mr-2">Adicionar item</button>
        <button type="button" class="btn btn-secondary" v-on:click="finaliza()">Finalizar</button><br><br>
        <button type="button" class="btn btn-info" v-on:click="redirectToPage()">Carrinho</button><br><br>
        <h4>Total: {{ total }}</h4> <!-- Exibir o valor total -->
      </form>
      <div class="mt-4">
        <h4>Lista de compras:</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nome do Item</th>
              <th>Quantidade</th>
              <th>Preço por unidade</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in shoppingList" :key="index">
              <td v-if="editIndex !== index">{{ item.nome }}</td>
              <td v-else><input type="text" v-model="editItem.nome" class="form-control"></td>
              <td v-if="editIndex !== index">{{ item.quant }}</td>
              <td v-else><input type="number" v-model="editItem.quant" class="form-control"></td>
              <td v-if="editIndex !== index">{{ item.preco }}</td>
              <td v-else><input type="float" v-model="editItem.preco" class="form-control"></td>
              <td v-if="editIndex !== index">
                <button @click="startEditing(index, item)" class="btn btn-sm btn-warning me-2">Editar</button>
                <button @click="excluirProduto(index)" class="btn btn-sm btn-danger ms-2">Excluir</button>
              </td>
              <td v-else>
                <button @click="saveEdit(index)" class="btn btn-sm btn-success me-2">Salvar</button>
                <button @click="cancelEdit" class="btn btn-sm btn-secondary ms-2">Cancelar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <h4>Total: {{ total }}</h4> <!-- Exibir o valor total -->
      </div>
    </div>
  </div>

  <script>
    const apiUrlCarrinho = 'https://ldwhghwhxxpvdghugemv.supabase.co/rest/v1/carrinho';
    const apiKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxkd2hnaHdoeHhwdmRnaHVnZW12Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczODg1NDU4MiwiZXhwIjoyMDU0NDMwNTgyfQ.2rAYbIrkdCQDX95bX4-jynvq-5mocKVveirPQDJK_iA';
    const apiAuthorization = 'Bearer ' + apiKey;
    const app = Vue.createApp({
      data() {
        return {
          itemNome: null,
          itemQuant: null,
          itemPreco: null,
          shoppingList: [],
          total: 0,
          editIndex: null,
          editItem: { nome: '', quant: 0, preco: 0 } // Inicialize editItem
        };
      },
      methods: {
        addItem() {
          let item = {
            nome: this.itemNome,
            quant: this.itemQuant,
            preco: this.itemPreco
          };
          this.shoppingList.push(item);
          this.itemNome = null;
          this.itemQuant = null;
          this.itemPreco = null;
          this.calcularTotal(); // Calcular o total após adicionar um item
        },
        finaliza() {
          var carrinho = this;
          $.ajax({
            type: 'post',
            url: apiUrlCarrinho,
            data: JSON.stringify(carrinho.shoppingList),
            contentType: 'application/json; charset=utf-8',
            crossDomain: true,
            headers: {
              'apikey': apiKey,
              'Authorization': apiAuthorization,
              'Content-Type': 'application/json',
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Headers': 'authorization, x-client-info, apikey, content-type'
            },
            success: function(dados, xhr, textStatus) {
              window.alert("Ok. GRAVADOS " + carrinho.shoppingList.length + " itens.");
              carrinho.shoppingList = [];
              carrinho.total = 0; // Resetar o total após finalizar a compra
            },
            error: (erro) => {
              window.alert("Ocorreu um erro: " + erro.message);
            }
          });
        },
        startEditing(index, item) {
          this.editIndex = index;
          this.editItem = { ...item };
        },
        saveEdit(index) {
          this.shoppingList[index] = { ...this.editItem };
          this.editIndex = null;
          this.editItem = { nome: '', quant: 0, preco: 0 };
          this.calcularTotal(); // Calcular o total após salvar a edição
        },
        cancelEdit() {
          this.editIndex = null;
          this.editItem = {};
        },
        excluirProduto(index) {
          this.shoppingList.splice(index, 1);
          this.calcularTotal(); // Calcular o total após excluir um item
        },
        calcularTotal() {
          this.total = this.shoppingList.reduce((sum, item) => sum + (item.quant * item.preco), 0);
        },
        redirectToPage(){
          window.location.href = '/lista-carrinho.html';// Substitua pelo caminho da página de destino
        }
      }
    });
    app.mount("#app");
  </script>
</body>
</html>

